.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	width: 100vw;
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 1rem;
}

.form-field input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	color: #0d1821;
	font-size: 1rem;
}

/* make everything bigger */
.form-field input,
.form-field label,
.form-field button {
	font-size: 1.5rem;
	border-radius: 0.25rem;
}
